In [2]:
import pandas as pd

In [3]:
df3 = pd.read_csv('millas_por_galon.csv')
df3.head()

,nb_cilindros,desplazamiento,potencia,peso,aceleracion,anio,modeo,mpg
0,8,307.0,130.0,3504.0,12.0,70,"""chevrolet chevelle malibu""",18.0
1,8,350.0,165.0,3693.0,11.5,70,"""buick skylark 320""",15.0
2,8,318.0,150.0,3436.0,11.0,70,"""plymouth satellite""",18.0
3,8,304.0,150.0,3433.0,12.0,70,"""amc rebel sst""",16.0
4,8,302.0,140.0,3449.0,10.5,70,"""ford torino""",17.0

In [7]:
print(df3.size)

3184

In [8]:
df4 = df3.dropna()
print(df4.size)

3184

In [10]:
df4 = df4.reset_index(drop=True)

In [11]:
df4

,nb_cilindros,desplazamiento,potencia,peso,aceleracion,anio,modeo,mpg
0,8,307.0,130.0,3504.0,12.0,70,"""chevrolet chevelle malibu""",18.0
1,8,350.0,165.0,3693.0,11.5,70,"""buick skylark 320""",15.0
2,8,318.0,150.0,3436.0,11.0,70,"""plymouth satellite""",18.0
3,8,304.0,150.0,3433.0,12.0,70,"""amc rebel sst""",16.0
4,8,302.0,140.0,3449.0,10.5,70,"""ford torino""",17.0
...,...,...,...,...,...,...,...,...
393,4,140.0,86.00,2790.0,15.6,82,"""ford mustang gl""",27.0
394,4,97.0,52.00,2130.0,24.6,82,"""vw pickup""",44.0
395,4,135.0,84.00,2295.0,11.6,82,"""dodge rampage""",32.0
396,4,120.0,79.00,2625.0,18.6,82,"""ford ranger""",28.0
397,4,119.0,82.00,2720.0,19.4,82,"""chevy s-10""",31.0